

<footer class="w3-center w3-card-4">
    <a href="https://github.com/ascinitially/Project2" target="_blank">GitHub Repo</a>
    <ul>
    <a class="github-button" href="https://github.com/jkumari" data-show-count="true" aria-label="Follow @jkumari on GitHub">Follow @jkumari</a>
    </ul>
</footer>

