<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large" onclick="sideBar_Close()">Close &times;</button>
    <a href="/logout" class="w3-bar-item w3-button">Back to Login Page</a>
</div>


<div zclass="w3-main" id="sidebar">

  <div class="w3-jumbo">
    <div id="hamb_cont">
      <button id="curr_list" class="w3-button w3-bisque w3-large" onclick="sideBar_Open()">&#9776<img id="logo" src="/public/images/veggieswap.png" alt=""></button>
    </div>

    <div class="w3-container">
      <h2>Register to Start Veggie Swap!</h2>
    </div>
  </div>

  <br>
  <br>

<div class="w3-row">

  <div id="register" class="w3-col s6 w3-mobile">
      <!-- action="/" method="POST" -->
      <form class="w3-panel w3-card-4" action="/register" method="post">
      <h2 style="text-align: center">New User?</h2>
      {{!-- <h3><label>Username</label></h3> --}}
          <input class="w3-input" type="text" id="reg_username" name="username" pattern="[a-zA-Z0-9\s]{0,30}" placeholder="Username" title="Alphanumeric Characters Only" required>
      {{!-- <h3><label>Password</label></h3> --}}
          <input class="w3-input" type="password" id="reg_password" name="password" placeholder="Password" title="Alphabet Characters Only" required>
                
          {{!-- <h3><label>email</label></h3> --}}
          <input class="w3-input" type="text" id="reg_email" name="email" placeholder="email"  required>

           {{!-- <h3><label>imageURL</label></h3> --}}
          <input class="w3-input" type="text" id="reg_imageURL" name="imageURL" placeholder="imageURL"  required>

   {{!-- <h3><label>aboutMe</label></h3> --}}
          <input class="w3-input" type="text" id="reg_aboutMe" name="aboutMe" placeholder="aboutMe"  required>

          <button type="submit" class="w3-button w3-red regBtn">Register</button>
      </form>
  </div>
</div> <!-- end row for registration div -->


</div> <!-- end zclass sidebar -->
  {{> footer}}
