.list-group-item {
  line-height: 2.5;
}

.offerImage {
  border: 1px solid black;
  height:40px;
  width: 40px;
  border-radius: 20px;
  margin: 10px
}

#loginBox{
  margin-bottom: 1%;
}

.w3-panel {
  margin: 25px;
  text-align: left;
  background-color: lightgray;
  padding: 25px 25px 25px 25px;
}
.w3-button {
  margin: 15px;
}
body,h1,h2,div,form,label,h3,a,h4,th {
  font-family: 'Dosis', sans-serif;
  color: #005580;
}
input {
  font-family: 'Dosis', sans-serif; 
}
.offerBox {
  border: 1px solid black;
  width:90%;
  padding: 10px;
  padding-left:20px;
  margin: 10px;
  border-radius: 8px;
  text-align: center;
}

.offerBox:hover{
  cursor: pointer;
  background-color: rgb(135, 216, 135);
  color:white;
  /* border-color: darkolivegreen; */
  border:4px solid darkolivegreen;
}
.offers {
  display: inline-block;
  width: 45%;
}
.offerrer {
  margin-top: 5px;
}
.offerSection {
  align-items:center;
}

#offerbutton {
  align-items: center;
}

#makeOffer, #makeWant{
  padding: 20px;
  width:80%;
  text-align: center;
  margin:auto;
  border: 2px solid gray;
  border-radius: 5px;

}

#makeOffer:hover{
  background-color: rgb(135, 216, 135);
}

#makeWant:hover{
  background-color:  rgb(135, 216, 135);
}

input {
  border: 0;
  outline: 0;
  background: white;
  border-bottom: 1px solid lightgray;
}

input:focus {
  border-bottom: none;
} 
input:valid {
  border-bottom: none;
}

.and {
  text-align:center;
  padding: 10px;
}

.offerButton {
  align-items:center;
  border:2px solid gray;
  /* display:block; */
  border-radius:5px;
  margin:auto;
  margin-top:20px;
  padding:10px;
}

.offerButton:hover {
  cursor: pointer;
  background-color: rgb(135, 216, 135);
  color:white;
}

.submitOffer {
  text-align: center;
}


* {
  box-sizing: border-box;
}
body,h1,h2,div,form,input,label,h3,a,h4,th {
  font-family: 'Dosis', sans-serif;
  color: #005580;
}
body, html {
  min-height: 100%;
  transition: background-color .5s;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.5;
}

.w3-panel {
  margin: 25px;
  text-align: left;
  background-color: lightgray;
  padding: 25px 25px 25px 25px;
}

.w3-bar-block{
  text-align: left;
}


footer{
  background: lightgray;
  position: fixed;
  display: block;
  padding: 10px 10px 10px 10px;
  width: 100%;
  margin-top: 5%;
  bottom:0;
}
footer a, footer ul {
  margin: 2px;
}

div#bloodhound {
  margin-bottom: 25%;
}

#register{
  margin-bottom: 9%;
}

.w3-jumbo{
  opacity: .65;
  background-color: lightgray;
  text-align: center;
  margin: 0px;
  /* position: fixed; */
  /* top:0; */
  /* width: 100%; */
}


#loginBox{
  margin-bottom: 1%;
}

.w3-button {
  margin: 15px;
}

#curr_list{
  position: absolute;
  left: 2%;
  height: 60px;
  width: 100px;
  margin: 0px;
  padding: 0px;
  top: 4px;
}

#logo{
  position: relative;
  height: 50px;
  width: 50px;
  margin-top: 5%
}

/* #myDashboard{
  margin-bottom: 10%;
} */


.w3-main, .main-content {
  margin-bottom: 35%;
}

.index-header{
  margin-top: 0px;
  /* top:0;
  width:100%;
  position:fixed;
  margin-bottom: 10%; */
}
#mySidebar {
  /* height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top:0;
  left:0; */
  overflow-x: hidden;
}

.w3-modal {
  display:none;
}

#modalData {
  width: 100%;
}
.w3-modal-content {
width: 50%;
}
.modalBtn {
  z-index: 10;
}
.index-main {
  margin-bottom:35%;
}
/* .bgimg {
  margin-bottom:30%;
} */  